.container {
    padding: 1rem;
    max-width: 600px;
}

#tokens {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    /* justify-content: space-between; */
    padding: 10px 0;
}

.nft-token {
    margin-right: 10px;
    width: 30% !important;
}